.who-am-i{
    &__container{
        display: flex;
        justify-content: space-between;
    }

    &__text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__heading{
        font-size: $font-giant;
        margin-bottom: 2rem;
    }

    &__paragraph{
        margin-bottom: 1.5rem;
        color: $grey;
    }

    &__button{
        
    }

    &__images-container{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 84px;
            height: 84px;
            background-image: url(/assets/images/square-dots.svg);
            background-repeat: no-repeat;
            background-size: cover;
            bottom: 13rem;
            right: 1rem;
        }
    }

    &__photo{
        max-width: 457px;
        width: 100%;
        height: auto;
        
        
        
    }

    &__activity{
        &-container{
            display: flex;
            gap: 10px;
            border: 1px solid $grey;
            padding: 0.4rem;
            padding-bottom: 0.33rem;
            max-width: 90%;
            min-width: fit-content;

            margin-left: auto;
            margin-right: auto;
            margin-bottom: 112px;
        }

        &-icon{
            min-width: 1rem;
            height: 1rem;
            background-color: $primary;
        }

        &-text{
            color: $grey;
        }
    }


}