body {
    background-color: $dark-gray;
    color: $white;
    font-size: $font-normal;
    font-family: 'Fira Code';
}

.flow-container {
    max-width: $desktop-xl;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: minmax(auto, 125px) minmax(auto, 46px) 1fr minmax(auto, 46px) minmax(auto, 125px);
    grid-auto-rows: min-content;
}

.container {
    max-width: 1024px;
    width: 100%;
    grid-column: 3;
}

.primary-color{
    color: $primary;
}

.button{
    width: fit-content;
    padding: 0.5em 0.7em 0.4em 0.7em;
    text-align: center;
    background-color: transparent;
    border: 1px $primary solid;
    color: inherit;

    &:hover{
        background-color: rgba($primary, 0.3);
    }
}

