.footer{
    &__container{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding-bottom: 2rem;
    }
    &__logo{

        &-media-container{
            display: flex;
            justify-content: space-between;
        }

        &-email-container{
            display: flex;
            gap: 2rem;
        }

        &-about_me-container{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }

        &-container{
            display: flex;
            gap: 0.5rem;
        }

        &-title{
            color: $white;
        }
    }

    &__about_me{
        color: $white;
        max-width: 476px;
        width: 100%;
    }

    &__media{
        &-container{
            display: flex;
            flex-direction: column;
            gap: 12px;

        }

        &-heading{
            font-size: $font-big;
        }

        &-links{
            display: flex;
            gap: 8px;
        }
    }

    &__copyright{
        align-self: center;
    }
    
}